<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>repl.it</title>
    <link href="/static/home.css" rel="stylesheet" type="text/css"/>
    <link href="/static/style.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <header>
      <div class="left">
        <h1 class="logo">Project Flux<span>.</span></h1>
        <ul>
          <li class="active"><a href="/">About Us</a></li>
          <li><a href="/team">Our Team</a></li>
		<li><a href="/api">API</a></li>
          <li>Contact Us</li>
        </ul>
      </div> 
      <!-- <div class="btns">
        <button class="btn btn-primary"><a href="/search">Get Started</a></button>
      </div> -->
    </header>
    <div class="search active">
		  <div class="icon">
		  </div>
			<div class="input">
				<form action="/search" method="POST">
          <input type="text" placeholder="Search for country" name="country">
          <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i>Submit</button>
        </form>
			</div>
		</div>
  </body>
</html>
