<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>repl.it</title>
    <link href="{{ url_for('static', filename='home.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <header>
      <div class="left">
        <h1 class="logo">Project Flux<span>.</span></h1>
        <ul>
            <li class="active"><a href="/">About Us</a></li>
            <li><a href="/team">Our Team</a></li>
            <li><a href="/api">API</a></li>
            <li><a href="/contactUs">Contact Us</a></li>
        </ul>
      </div>
    </header>
    <div id="team_div">
      <h1><b>Meet the team!</b></h1>
      <h3>12 members from 6 nations</h3>
      <!--img src="templates/Ian_image.jpeg" width="30" height="30" class="photo" alt="Photo of founder Ian Chew"-->
        <svg xmlns="http://www.w3.org/2000/svg" width="20vw" height="20vw" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
      </svg>
      <h3 class="caption">Founder: Ian Chew</h3>
      <br>
          
       <div class="people_row">
        <div class="team_div">
          <svg xmlns="http://www.w3.org/2000/svg" width="20vw" height="20vw" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
            <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
          </svg>
          <h5 class="caption">Software Developer: Alun</h5>
        </div>
        <div class="team_div">
         <svg xmlns="http://www.w3.org/2000/svg" width="20vw" height="20vw" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
          <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
          </svg>
          <h5 class="caption">Digital Marketer: Shi En</h5>
        </div>
        <div class="team_div">
          <svg xmlns="http://www.w3.org/2000/svg" width="20vw" height="20vw" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
            <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
          </svg>
          <h5 class="caption">Corporate Lawyer: Colin</h5>
        </div>
        <div class="team_div">
          <svg xmlns="http://www.w3.org/2000/svg" width="20vw" height="20vw" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
            <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
          </svg>
          <h5 class="caption">Human Resource: Daniella</h5>
        </div>
        <div class="team_div">
          <svg xmlns="http://www.w3.org/2000/svg" width="20vw" height="20vw" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
            <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
          </svg>
          <h5 class="caption">Data Analytics: Liu Qi</h5>
        </div>
      </div>
      
      <div class="people_row">
        <div class="team_div">
          <svg xmlns="http://www.w3.org/2000/svg" width="20vw" height="20vw" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
            <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
          </svg>
          <h5 class="caption">Dev-Ops: Emmanuel</h5>
        </div>
      <div class="team_div">
          <svg xmlns="http://www.w3.org/2000/svg" width="20vw" height="20vw" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
            <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
          </svg>
          <h5 class="caption">Business Development: Samual</h5>
      </div>
      <div class="team_div">
          <svg xmlns="http://www.w3.org/2000/svg" width="20vw" height="20vw" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
      </svg>
      <h5 class="caption">Intelligent Systems: Jeremie</h5>
      </div>
      <div class="team_div">
          <svg xmlns="http://www.w3.org/2000/svg" width="20vw" height="20vw" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
      </svg>
      <h5 class="caption">Market Research: Hasitha</h5>
      </div>
      <div class="team_div">
          <svg xmlns="http://www.w3.org/2000/svg" width="20vw" height="20vw" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
      </svg>
      <h5 class="caption">Dev-Ops: Ming Hong</h5>
      </div>
      <div class="team_div">
          <svg xmlns="http://www.w3.org/2000/svg" width="20vw" height="20vw" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
      </svg>
      <h5 class="caption">Financial Modeling: Yan Min</h5>
      </div>
      </div>
    </div>
    <!--img src="templates/team_org.png" width="100%" height="300vw" alt="" style="align-items: center"--> 
  </body>
</html>
